.footer-container{
    color: #30FBEF;
    margin-top: 110px;

}
.footer-items{
    display: flex;
    justify-content: space-between;
}
.footer-items1{
    display: flex;
    justify-content: space-around;
}
.footer-logo span{
    padding: 10px 13px;
    margin-left: 15px;
    background: #282828;
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 50px;
}
.footer-logo span i{
  
    border-radius: 50px;
}